# 4.1 - MongoDB

![mongo](images/mongodb.jpeg)

https://docs.mongodb.com/manual/administration/install-community/

https://docs.mongodb.com/compass/current/install/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in /Users/iudh/miniforge3/envs/clase/lib/python3.9/site-packages (4.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

import warnings
warnings.filterwarnings('ignore')

In [4]:
cliente=MongoClient('mongodb://localhost:27017')    # esto es el cursor/motor

cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
cliente.list_database_names()   # lista de las bases de datos

['admin',
 'arbbot',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'telegram_messages']

In [6]:
db=cliente.nueva_db   # nueva base de datos

In [7]:
cliente.list_database_names()

['admin',
 'arbbot',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'telegram_messages']

In [8]:
colec=db.n_colec   # nueva coleccion

In [9]:
db.list_collection_names()    # lista de las colecciones

[]

In [11]:
# insertar datos


dictio={'nombre': 'poepe', 'edad': 22}

colec.insert_one(dictio)

In [12]:
db.list_collection_names()

['n_colec']

In [13]:
cliente.list_database_names()

['admin',
 'arbbot',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'nueva_db',
 'telegram_messages']

In [14]:
# insertar varios

# insert into colec (columnas) values (valores);


json=[{'nombre': 'Ana', 'edad': 24},
      {'_id': 20, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

colec.insert_many(json)

In [17]:
json=[{'nombre': 'Ana', 'edad': 24},
      {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

colec.insert_many(json)

In [18]:
# llamar a la base de datos, como el select

colec.find()  # select * from colec

In [21]:
list(colec.find())

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aadea21762c4d459a44935'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 20, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': ObjectId('62aaded01762c4d459a44936'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadede1762c4d459a44937'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 21, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': ObjectId('62aadf481762c4d459a44938'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'}]

In [23]:
c=list(colec.find())

In [27]:
c[2].values()

dict_values([20, 'natacion', '22:00', 'jultayu'])

In [29]:
json=[{'nombre': 'Ana', 'edad': 42},
      {'nombre': 'Juan', 'edad': 30},
      {'nombre': 'Maria', 'edad': 12},
      {'nombre': 'Joase', 'edad': 5},
      {'nombre': 'Hola', 'edad': 70},
      ]

colec.insert_many(json)

### Queries

In [30]:
list(colec.find())

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aadea21762c4d459a44935'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 20, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': ObjectId('62aaded01762c4d459a44936'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadede1762c4d459a44937'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 21, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': ObjectId('62aadf481762c4d459a44938'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': ObjectId('62aae52a1762c4d459a44939'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae52a1762c4d459a4493a'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae52a1762c4d459a4493c'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('62aae52a1762c4d459a4493d'), 'nombre': 'Hola', 'edad': 70},
 {'_id': ObjectId('62aae5341762c4d459a4493e'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae5341762c4d459a4493f'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae5341762c4d459a44940'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae5341762c4d459a44941'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('62aae5341762c4d459a44942'), 'nombre': 'Hola', 'edad': 70}]

In [31]:
list(colec.find({'edad': 12}))

[{'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae5341762c4d459a44940'), 'nombre': 'Maria', 'edad': 12}]

In [32]:
list(colec.find({'nombre': 'Ana'}))   # equivalente sql: select * from colec where nombre = Ana;

[{'_id': ObjectId('62aadea21762c4d459a44935'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aaded01762c4d459a44936'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadede1762c4d459a44937'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadf481762c4d459a44938'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aae52a1762c4d459a44939'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae5341762c4d459a4493e'), 'nombre': 'Ana', 'edad': 42}]

In [33]:
list(colec.find({'edad': {'$gte': 12}})) # equivalente sql: select * from colec where edad >= 12;

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aadea21762c4d459a44935'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aaded01762c4d459a44936'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadede1762c4d459a44937'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadf481762c4d459a44938'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aae52a1762c4d459a44939'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae52a1762c4d459a4493a'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae52a1762c4d459a4493d'), 'nombre': 'Hola', 'edad': 70},
 {'_id': ObjectId('62aae5341762c4d459a4493e'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae5341762c4d459a4493f'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae5341762c4d459a44940'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae5341762c4d459a44942'), 'nombre': 'Hola', 'edad': 70}]

In [34]:
list(colec.find({'edad': {'$gt': 12}}))# equivalente sql: select * from colec where edad > 12;

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aadea21762c4d459a44935'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aaded01762c4d459a44936'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadede1762c4d459a44937'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadf481762c4d459a44938'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aae52a1762c4d459a44939'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae52a1762c4d459a4493a'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae52a1762c4d459a4493d'), 'nombre': 'Hola', 'edad': 70},
 {'_id': ObjectId('62aae5341762c4d459a4493e'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae5341762c4d459a4493f'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae5341762c4d459a44942'), 'nombre': 'Hola', 'edad': 70}]

In [35]:
list(colec.find({'edad': {'$lte': 24}}))# equivalente sql: select * from colec where edad <= 24;

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aadea21762c4d459a44935'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aaded01762c4d459a44936'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadede1762c4d459a44937'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadf481762c4d459a44938'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae52a1762c4d459a4493c'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('62aae5341762c4d459a44940'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae5341762c4d459a44941'), 'nombre': 'Joase', 'edad': 5}]

In [36]:
list(colec.find({'edad': {'$lt': 24}}))# equivalente sql: select * from colec where edad < 24;

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae52a1762c4d459a4493c'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('62aae5341762c4d459a44940'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae5341762c4d459a44941'), 'nombre': 'Joase', 'edad': 5}]

In [37]:
list(colec.find({'edad': {'$lt': 24}}).limit(3)  )    # equivalente sql: select * from colec where edad < 24 limit 3;

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae52a1762c4d459a4493c'), 'nombre': 'Joase', 'edad': 5}]

In [40]:
list(colec.find({'edad': {'$lt': 24}}).sort('edad', -1).limit(3))  
# equivalente sql: select * from colec where edad < 24 order by edad desc limit 3;

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aae5341762c4d459a44940'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12}]

In [50]:
list(colec.aggregate([
    {"$group" : {'_id':'', 'count':{'$sum': 1}}}
]))


# select count(*) from colec group by _id;   # por cada id suma 1

[{'_id': '', 'count': 18}]

In [51]:
# borrar documento


colec.delete_one({'_id': 20})

In [52]:
list(colec.find())

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': ObjectId('62aadea21762c4d459a44935'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aaded01762c4d459a44936'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('62aadede1762c4d459a44937'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 21, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': ObjectId('62aadf481762c4d459a44938'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': ObjectId('62aae52a1762c4d459a44939'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae52a1762c4d459a4493a'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae52a1762c4d459a4493c'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('62aae52a1762c4d459a4493d'), 'nombre': 'Hola', 'edad': 70},
 {'_id': ObjectId('62aae5341762c4d459a4493e'), 'nombre': 'Ana', 'edad': 42},
 {'_id': ObjectId('62aae5341762c4d459a4493f'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae5341762c4d459a44940'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae5341762c4d459a44941'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('62aae5341762c4d459a44942'), 'nombre': 'Hola', 'edad': 70}]

In [53]:
colec.delete_many({'nombre': 'Ana'})   # delete from colec where nombre=Ana;

In [54]:
list(colec.find())

[{'_id': ObjectId('62aaddb31762c4d459a44934'), 'nombre': 'poepe', 'edad': 22},
 {'_id': 21, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': 22, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'jultayu'},
 {'_id': ObjectId('62aae52a1762c4d459a4493a'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae52a1762c4d459a4493b'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae52a1762c4d459a4493c'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('62aae52a1762c4d459a4493d'), 'nombre': 'Hola', 'edad': 70},
 {'_id': ObjectId('62aae5341762c4d459a4493f'), 'nombre': 'Juan', 'edad': 30},
 {'_id': ObjectId('62aae5341762c4d459a44940'), 'nombre': 'Maria', 'edad': 12},
 {'_id': ObjectId('62aae5341762c4d459a44941'), 'nombre': 'Joase', 'edad': 5},
 {'_id': ObjectId('62aae5341762c4d459a44942'), 'nombre': 'Hola', 'edad': 70}]

In [55]:
colec.drop()

In [57]:
db.list_collection_names()

[]

### DB Companies

In [58]:
db=cliente.companies   # cliente.base_de_datos

In [59]:
colec=db.companies     # base_de_datos.coleccion

In [63]:
#list(colec.find().limit(1))

In [71]:
list(colec.find({'$or': [{'category_code': 'web'}, 
                         {'category_code': 'ecommerce'}]},
               
               {'_id': False, 'name':True, 'category_code': True}
               
               ))[-10:]

[{'name': 'Nokaut', 'category_code': 'ecommerce'},
 {'name': 'Atlantic BT', 'category_code': 'web'},
 {'name': 'Gambolio', 'category_code': 'web'},
 {'name': 'Kicker Films', 'category_code': 'ecommerce'},
 {'name': 'iGuiders', 'category_code': 'web'},
 {'name': 'Optemo', 'category_code': 'web'},
 {'name': 'Zoomission', 'category_code': 'web'},
 {'name': 'Eazeeloans', 'category_code': 'web'},
 {'name': 'DocASAP', 'category_code': 'web'},
 {'name': 'goBookmaker', 'category_code': 'web'}]

In [74]:
list(colec.find({'$and': [{'category_code': 'web'}, 
                          {'founded_year': {'$lte': 2002}}]},
               
               {'_id': False, 'name':True, 'category_code': True, 'founded_year': True}
               
               ).sort('founded_year', 1).limit(10)
    
    )

[{'name': 'SmallWorlds', 'category_code': 'web', 'founded_year': 1800},
 {'name': 'WeGame', 'category_code': 'web', 'founded_year': 1840},
 {'name': 'The Economist Group', 'category_code': 'web', 'founded_year': 1843},
 {'name': 'Elsevier', 'category_code': 'web', 'founded_year': 1880},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'founded_year': 1881},
 {'name': 'National Geographic', 'category_code': 'web', 'founded_year': 1888},
 {'name': 'Financial Times', 'category_code': 'web', 'founded_year': 1888},
 {'name': 'PA SportsTicker', 'category_code': 'web', 'founded_year': 1909},
 {'name': 'Nielsen', 'category_code': 'web', 'founded_year': 1922},
 {'name': 'Consumers Union', 'category_code': 'web', 'founded_year': 1936}]

In [76]:
import pandas as pd

df=pd.DataFrame(list(colec.find({'$and': [{'category_code': 'web'}, 
                          {'founded_year': {'$lte': 2002}}]},
               
               {'name':True, 'category_code': True, 'founded_year': True}
               
               ).sort('founded_year', 1).limit(10)
    
    ))


df.head()

,_id,name,category_code,founded_year
0,52cdef7d4bab8bd675298b5a,SmallWorlds,web,1800
1,52cdef7c4bab8bd675298140,WeGame,web,1840
2,52cdef7d4bab8bd675298a13,The Economist Group,web,1843
3,52cdef7f4bab8bd67529c22d,Elsevier,web,1880
4,52cdef7c4bab8bd67529834c,Los Angeles Times Media Group,web,1881

In [80]:
list(colec.find({'name': {'$in': ['WeGame', 'Facebook']}},
                {'name':True, 'category_code': True, 'founded_year': True}))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'category_code': 'social',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675298140'),
  'name': 'WeGame',
  'category_code': 'web',
  'founded_year': 1840}]

In [87]:
# ¿como sacar facebook asi?

list(colec.find({'name': {'$regex': '^Face'}},
                {'name':True, 'category_code': True, 'founded_year': True}).limit(2))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'category_code': 'social',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675298334'),
  'name': 'FaceTec',
  'category_code': 'software',
  'founded_year': 2002}]

### Geoqueries

In [94]:
# documentos que contengan oficinas, devuelve solo el nombre y el array de oficinas

al_menos_1_ofi=colec.find({'offices': {'$not': {'$size': 0}}},
                         
                          {'_id':0, 'name':1, 'offices':1}
                         )

In [95]:
df=pd.DataFrame(al_menos_1_ofi)

df=df.dropna()

df.head()

        name                                            offices
0   Wetpaint  [{'description': '', 'address1': '710 - 2nd Av...
1  AdventNet  [{'description': 'Headquarters', 'address1': '...
2       Zoho  [{'description': 'Headquarters', 'address1': '...
3       Digg  [{'description': None, 'address1': '135 Missis...
4   Facebook  [{'description': 'Headquarters', 'address1': '...

In [96]:
# extraer la primera oficina

def get_first(data):
    
    data=data.offices
    
    principal=None
    
    if data[0]['latitude'] and data[0]['longitude']:
        
        # esto ya es una geoquery
        
        principal={
            'type': 'Point',
            'coordinates': [data[0]['longitude'], data[0]['latitude']]
        }
        
    
    return {'total_offices': len(data),
            'lat': data[0]['latitude'],
            'lng': data[0]['longitude'],
            'principal': principal}

In [97]:
first_office=df[['offices']].apply(get_first, result_type='expand', axis=1)

first_office.head()

,total_offices,lat,lng,principal
0,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [98]:
first_office=first_office.dropna()

df=pd.concat([df, first_office], axis=1).drop('offices', axis=1)

df=df.dropna()

df.head()

,name,total_offices,lat,lng,principal
0,Wetpaint,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,AdventNet,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,Zoho,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,Digg,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,Facebook,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [ ]:
#df.to_json('../data/oficinas.json')

In [99]:
db.first_office.insert_many(df.to_dict('records'))  # tol dataframe pa mongo

In [101]:
db.first_office.create_index([('principal', '2dsphere')])

'principal_2dsphere'

In [104]:
# encuentra los elementos dentro de cierto radio, geoquery


def find_near(array, radio=1000):
    
    return db.first_office.find({'principal': {
                                                '$near': {'$geometry': {'type': 'Point', 
                                                                        'coordinates': array},
                                                          '$maxDistance': radio}
    
                                }})

In [105]:
park_avenue=[-73.987308, 40.738935]   # geopunto

radio=10000

n_ofi=find_near(park_avenue, radio)

pd.DataFrame(n_ofi).head()

,_id,name,total_offices,lat,lng,principal
0,62aafb1c1762c4d459a466f9,SpaBooker,1.0,40.738567,-73.987199,"{'type': 'Point', 'coordinates': [-73.987199, ..."
1,62aafb1c1762c4d459a454d1,HealthiNation,1.0,40.739341,-73.988357,"{'type': 'Point', 'coordinates': [-73.988357, ..."
2,62aafb1c1762c4d459a450b9,Special Ops Media,1.0,40.737721,-73.987725,"{'type': 'Point', 'coordinates': [-73.987725, ..."
3,62aafb1c1762c4d459a46d4b,Mashable,1.0,40.740154,-73.986742,"{'type': 'Point', 'coordinates': [-73.9867417,..."
4,62aafb1c1762c4d459a45e50,Return Path,1.0,40.740207,-73.987002,"{'type': 'Point', 'coordinates': [-73.987002, ..."