In [1]:
import pandas as pd

In [5]:
df=pd.read_clipboard()

In [6]:
df.head()

,Tipo,Clase,Notas,Ejemplo
0,str,Cadena,Inmutable,'Cadena'
1,unicode,Cadena,Versión Unicode de str,u'Cadena'
2,list,Secuencia,"Mutable, puede contener objetos de diversos tipos","[4.0, 'Cadena', True]"
3,tuple,Secuencia,"Inmutable, puede contener objetos de diversos ...","(4.0, 'Cadena', True)"
4,set,Conjunto,"Mutable, sin orden, no contiene duplicados","{4.0, 'Cadena', True}"

In [15]:
pd.read_html('https://es.wikipedia.org/wiki/Python')[5]

                        0                                                  1
0  Control de autoridades  Proyectos Wikimedia  Datos: Q28865  Multimedia...