# 2.1 - Introducción a Python

https://docs.python.org/3/

![python](images/python.png)

$$$$

Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Explícito es mejor que implícito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien explícitamente.
Ante la ambigüedad, rechaza la tentación de suponer.
Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holandés.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementación es difícil de explicar, es una mala idea.
Si la implementación es fácil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¡hagamos más de ellos!
```

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  Más

## Números enteros (integer)

In [2]:
edad = 38

In [5]:
type(edad)

int

In [6]:
type(0)

int

In [7]:
type(5)

int

In [8]:
type(-56)

int

## Números reales (float)

In [9]:
temp=32.2

In [12]:
type(temp)

float

In [13]:
type(1.618033)

float

In [14]:
type(3.141592653)

float

In [15]:
type(.34)

float

In [18]:
type(-40.)

float

## Números complejos (complex)

In [19]:
4 + 2j

(4+2j)

In [21]:
type(1j)

complex

## Operaciones básicas

In [22]:
# suma

3 + 4

7

In [23]:
3.5 + 9.4

12.9

In [24]:
3.5 + 10

13.5

In [25]:
# resta 

3.4 - 4

-0.6000000000000001

In [26]:
3 - 6

-3

In [27]:
45.8 - temp

13.599999999999994

In [28]:
# multiplicacion

3 * 4

12

In [29]:
5 * 4.5

22.5

In [30]:
# division

3 / 4

0.75

In [31]:
7 / 0.16

43.75

In [36]:
# division entera

20 / 3

6.666666666666667

In [37]:
20 / 3

6.666666666666667

In [38]:
# modulo

20 / 3

6.666666666666667

In [39]:
20 // 3

6

In [40]:
20 % 3   # modulo, resto de la division

2

In [43]:
# jerarquia de operaciones


2 + 3 * 4

14

In [42]:
3 * (4 + 2)

18

In [44]:
# potencia / raiz


2 ** 3

8

In [46]:
3 ** (1 + 5 + 6)

531441

In [47]:
4 ** 0.5

2.0

In [48]:
2 ** .5

1.4142135623730951

In [50]:
2 ** (1/7)

1.1040895136738123

In [53]:
# conversiones

abs(-4)     # valor absoluto

4

In [54]:
int(3.99999999999999943249233492)

3

In [55]:
float(3)  #3.0

3.0

In [56]:
round(6.51)

7

In [57]:
round(6.49)

6

In [59]:
round(4.983283, 5)

4.98328

In [60]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [61]:
import math

In [62]:
math.floor(6.83)

6

In [63]:
math.ceil(6.13)

7

In [64]:
math.sqrt(2)

1.4142135623730951

In [65]:
math.log10(100)

2.0

In [67]:
#help(math)

## Booleanos

In [71]:
bool(1)

True

In [72]:
True

True

In [73]:
False

False

In [75]:
True == False

False

In [76]:
0.5 == .5

True

In [77]:
50 < 500

True

In [78]:
50 > 500

False

In [79]:
not True

False

https://wiki.python.org/moin/BitwiseOperators

In [80]:
4 & 2

0

In [81]:
4 >> 2

1

In [82]:
4 | 2

6

In [83]:
4 << 2

16

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [84]:
not (False and True)

True

In [85]:
(not False) or (not True)

True

## Valores nulos (None)

In [87]:
print(None)

None

In [88]:
type(None)

NoneType

## Cadenas de caracteres (string)

In [89]:
nombre = 'Pepe'

In [91]:
type(nombre)

str

In [92]:
type('hola')

str

In [93]:
# cuidado con las comillas

"hola"

'hola'

In [95]:
"hola estoy en 'Ironhack'"

"hola estoy en 'Ironhack'"

In [104]:
print('hola estoy en \n "Ironhack"')

hola estoy en
 "Ironhack"

In [105]:
# comentario

In [106]:
'''
es un comentario multilinea
'''


3

3

In [108]:
var='''
es una string multilinea
'''

In [111]:
var

'\nes una string multilinea\n'

In [112]:
'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [113]:
'hola' * 2

'holahola'

In [114]:
'hola' + '2'

'hola2'

In [118]:
saludo='hola'

saludo += '2'    # saludo = saludo + '2'

saludo

'hola2'

In [119]:
# mas igual etc...

a=2

a+=2   # a=a+2

a

4

In [120]:
a=2

a-=2  # a=a-2

a

0

In [121]:
a=2

a*=3  # a=a*3

a

6

In [122]:
a=2

a/=3

a

0.6666666666666666

In [136]:
print(f'Hola Chief: el resultado de tu ... es {a}')

Hola Chief: el resultado de tu ... es 0.6666666666666666

In [132]:
'Hola Chief: el resultado de tu ... es {:.2f}'.format(a)

'Hola Chief: el resultado de tu ... es 0.67'

In [135]:
r'hola'

'hola'

In [129]:
print('Hola Chief: el resultado de tu ... es', a, '1', sep='---')

Hola Chief: el resultado de tu ... es---0.6666666666666666---1

In [130]:
'Hola Chief: el resultado de tu ... es ' + str(a)

'Hola Chief: el resultado de tu ... es 0.6666666666666666'

In [326]:
'Hola Chief: el resultado de tu ... es '.lower()

'hola chief: el resultado de tu ... es '

In [327]:
'Hola Chief: el resultado de tu ... es '.upper()

'HOLA CHIEF: EL RESULTADO DE TU ... ES '

In [328]:
'Hola Chief: el resultado de tu ... es '.title()

'Hola Chief: El Resultado De Tu ... Es '

In [329]:
'Hola Chief: el resultado de tu ... es '.capitalize()

'Hola chief: el resultado de tu ... es '

## Listas

In [144]:
lst=[10, 43, 546, 346, 6, 4363, 46, 346, 4, 643, 6433, 46436, 654]

lst2=['hola', 'adios', 'peppe']

print(lst)

[10, 43, 546, 346, 6, 4363, 46, 346, 4, 643, 6433, 46436, 654]

In [141]:
type(lst)

list

In [142]:
len(lst)

15

In [147]:
min(lst), min(lst2)

(4, 'adios')

In [149]:
min(str(lst))

' '

In [151]:
max(lst), max(lst2)

(46436, 'peppe')

In [152]:
5 in lst

False

In [153]:
'hola' in lst2

True

In [156]:
sum(lst) / len(lst)    # media

4605.846153846154

In [158]:
sum(lst2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [164]:
'------'.join(lst2)

'hola------adios------peppe'

In [163]:
type(' '.join(lst2))

str

In [165]:
lst2

['hola', 'adios', 'peppe']

In [170]:
type(str(lst).split(','))

list

In [173]:
lst[0]   # indices empiezan en cero

10

In [174]:
lst[0]=10000

lst

[10000, 43, 546, 346, 6, 4363, 46, 346, 4, 643, 6433, 46436, 654]

In [176]:
lst[-2]

46436

In [178]:
# slicing, acceso por indices en listas

# lst[start : stop : step]

lst[1 : 100 : 2]

[43, 346, 4363, 346, 643, 46436]

In [179]:
lst[::2]

[10000, 546, 6, 46, 4, 6433, 654]

In [181]:
lst[0 : len(lst) : 2]

[10000, 546, 6, 46, 4, 6433, 654]

In [184]:
lst[1 : 10 : 2] = [0, 0, 0, 0, 0]

lst

[10000, 0, 546, 0, 6, 0, 46, 0, 4, 0, 6433, 46436, 654]

In [186]:
lst[1 : 10 : 1]

[0, 546, 0, 6, 0, 46, 0, 4, 0]

In [187]:
lst[::]

[10000, 0, 546, 0, 6, 0, 46, 0, 4, 0, 6433, 46436, 654]

**tipos de bucles**

In [190]:
for e in lst:    # para cada elemento en la lista...
    print(e)

10000
0
546
0
6
0
46
0
4
0
6433
46436
654

In [191]:
for i in range(len(lst)):   # para cada indice en el rango de....
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [197]:
for i in range(0, len(lst), 2):   # start-stop-step
    print(i)

0
2
4
6
8
10
12

In [201]:
for i,e in enumerate(lst):
    
    print(i, e, sep=' -- ')

0 -- 10000
1 -- 0
2 -- 546
3 -- 0
4 -- 6
5 -- 0
6 -- 46
7 -- 0
8 -- 4
9 -- 0
10 -- 6433
11 -- 46436
12 -- 654

In [204]:
list(enumerate(lst))

[(0, 10000),
 (1, 0),
 (2, 546),
 (3, 0),
 (4, 6),
 (5, 0),
 (6, 46),
 (7, 0),
 (8, 4),
 (9, 0),
 (10, 6433),
 (11, 46436),
 (12, 654)]

In [208]:
l1=[1, 2, 3]

l2=['a', 'b', 'c', 'd']

dict(zip(l1, l2))

{1: 'a', 2: 'b', 3: 'c'}

In [217]:
# bucle while (basado en condicion)


# fibonacci

lst=[0, 1]

a=0
b=1

print(a)
print(b)

contador=0

while contador <= 10:
    
    c = a+b
    
    print(c)
    
    lst.append(c)
    
    a = b
    b = c
    
    contador+=1
    
print('acabe')

0
1
1
2
3
5
8
13
21
34
55
89
144
acabe

In [218]:
lst

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [ ]:
# while True:  # bucle infinito
# while 1:  # bucle infinito

In [211]:
# fibonacci con bucle for


a=0
b=1

print(a)
print(b)

for _ in range(10):  # _ porque la variable no se usa en el bucle
    
    c=a+b
    print(c)
    
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89

In [215]:
i

12

**condicionales**

In [229]:
estudiante = 'Pepe 😷'

estudiante[-1]

'😷'

In [230]:
len(estudiante)

6

In [231]:
if estudiante[-1] == '😷':
    print(estudiante, ' puede entrar en el campus.')
    
else:
    print(estudiante, ' NO puede entrar en el campus.')

Pepe 😷  puede entrar en el campus.

In [238]:
a=0

if a==0:
    print('cerito')
    
elif a<=0:
    print('menor')
    
elif a>0:
    print('mayor')
    
else:
    print('ni idea alegre')
    
    
print('acabe')

cerito
acabe

In [244]:
a=4
b=2

if a>0 and b==2:
    for i in range(b + 5):
        a+=i
    
elif a==0 or b==3:
    print('no tio')
    
    
a

25

**list comprehension**

In [245]:
lst=[]

for i in range(20):
    
    lst.append(i)   # añade elementos a la lista
    
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [246]:
lst=[i+5 for i in range(20)]

lst

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [247]:
cubo=[]


for i in range(5):   # eje x
    
    lst_x=[]
    
    for j in range(5): # eje y
        
        lst_y=[]
        
        for k in range(5): # eje z
            
            lst_y.append(i)
            
        lst_x.append(lst_y)
    
    cubo.append(lst_x)
    
cubo

[[[0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0]],
 [[1, 1, 1, 1, 1],
  [1, 1, 1, 1, 1],
  [1, 1, 1, 1, 1],
  [1, 1, 1, 1, 1],
  [1, 1, 1, 1, 1]],
 [[2, 2, 2, 2, 2],
  [2, 2, 2, 2, 2],
  [2, 2, 2, 2, 2],
  [2, 2, 2, 2, 2],
  [2, 2, 2, 2, 2]],
 [[3, 3, 3, 3, 3],
  [3, 3, 3, 3, 3],
  [3, 3, 3, 3, 3],
  [3, 3, 3, 3, 3],
  [3, 3, 3, 3, 3]],
 [[4, 4, 4, 4, 4],
  [4, 4, 4, 4, 4],
  [4, 4, 4, 4, 4],
  [4, 4, 4, 4, 4],
  [4, 4, 4, 4, 4]]]

In [248]:
cubo=[[[i for k in range(5)] for j in range(5)] for i in range(5)]

cubo

[[[0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0]],
 [[1, 1, 1, 1, 1],
  [1, 1, 1, 1, 1],
  [1, 1, 1, 1, 1],
  [1, 1, 1, 1, 1],
  [1, 1, 1, 1, 1]],
 [[2, 2, 2, 2, 2],
  [2, 2, 2, 2, 2],
  [2, 2, 2, 2, 2],
  [2, 2, 2, 2, 2],
  [2, 2, 2, 2, 2]],
 [[3, 3, 3, 3, 3],
  [3, 3, 3, 3, 3],
  [3, 3, 3, 3, 3],
  [3, 3, 3, 3, 3],
  [3, 3, 3, 3, 3]],
 [[4, 4, 4, 4, 4],
  [4, 4, 4, 4, 4],
  [4, 4, 4, 4, 4],
  [4, 4, 4, 4, 4],
  [4, 4, 4, 4, 4]]]

In [249]:
lst=[]

for i in range(20):
    
    if i%2==0:
        
        lst.append(i)
        
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [253]:
lst=[i for i in range(20) if i%2==0]

lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [254]:
lst=[i if i%2==0 else 1 for i in range(20)]

lst

[0, 1, 2, 1, 4, 1, 6, 1, 8, 1, 10, 1, 12, 1, 14, 1, 16, 1, 18, 1]

In [256]:
lst=[i if i%2==0 and i!=0 else (3 if i%2 and i!=0 else 'a') for i in range(20)]

lst

['a', 3, 2, 3, 4, 3, 6, 3, 8, 3, 10, 3, 12, 3, 14, 3, 16, 3, 18, 3]

In [258]:
lst.remove('a')

In [262]:
lst.pop()

18

In [263]:
lst

[3, 2, 3, 4, 3, 6, 3, 8, 3, 10, 3, 12, 3, 14, 3, 16, 3]

In [264]:
lst.pop(3)

4

In [266]:
lst.sort()

lst

[2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 6, 8, 10, 12, 14, 16]

In [267]:
lst.sort(reverse=True)

lst

[16, 14, 12, 10, 8, 6, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2]

In [270]:
lst2[::-1]

['peppe', 'adios', 'hola']

In [269]:
lst2

['hola', 'adios', 'peppe']

In [273]:
lst=[54, 5342, 543, 543, 12, 543, 54346534, 0]

lst=lst[::-1]

In [274]:
lst

[0, 54346534, 543, 12, 543, 543, 5342, 54]

In [276]:
help(lst.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

## Tuplas

Inmutables

In [277]:
letras=('a', 'b', 'c')

letras

('a', 'b', 'c')

In [278]:
type(letras)

tuple

In [279]:
for e in letras:
    print(e)

a
b
c

In [281]:
letras.append('d')

AttributeError: 'tuple' object has no attribute 'append'

In [282]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [283]:
letras.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [285]:
letras[0]='b'

TypeError: 'tuple' object does not support item assignment

In [286]:
(i for i in range(10))

In [288]:
letras=list(letras)

In [289]:
letras[0]='b'

In [291]:
letras=tuple(letras)

In [292]:
letras

('b', 'b', 'c')

## Conjuntos (set)

In [294]:
lst=[1,1,1,1,1,1,1,1,23,2,2,2,2,2,2,2,2,23,34,4,4,3,3,3,3,3,3,3]

lst[:5]

[1, 1, 1, 1, 1]

In [296]:
set(lst)  # conjunto, valores unicos

{1, 2, 3, 4, 23, 34}

In [297]:
s=set(lst)

In [299]:
s.add(90)

In [300]:
s

{1, 2, 3, 4, 23, 34, 90}

In [301]:
s.remove(1)

In [302]:
s

{2, 3, 4, 23, 34, 90}

In [303]:
set_1=set([1,1,1,2,3,3,3,3,3,3,4,5,5,6,6,6,76,7,78,8,8,8,9,9,9,99,0,0,0,0])

set_2=set([3, 4, 5, 6, 7, 8, 9, 0, 8 , 0, 780, 78,789,786])

In [304]:
set_2

{0, 3, 4, 5, 6, 7, 8, 9, 78, 780, 786, 789}

In [305]:
union=set_1.union(set_2)

union

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [306]:
set_1.intersection(set_2)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [307]:
set_1 - set_2

{1, 2, 76, 99}

In [310]:
set_1.issubset(set_2)

False

In [313]:
set_1.issuperset(set_2)

False

In [314]:
set_1.issuperset({0, 1, 2})

True

In [315]:
set_1 & set_2    # interseccion

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [316]:
set_1 | set_2   # union

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

## Diccionarios

In [317]:
dict()

{}

In [318]:
type({})

dict

In [319]:
dictio={'key': 'value', 3: 643, 'bool': True}

dictio

{'key': 'value', 3: 643, 'bool': True}

In [320]:
type(dictio)

dict

In [321]:
dictio['key']

'value'

In [324]:
dictio['key']=10   # sobreescribe el valor

dictio

{'key': 10, 3: 643, 'bool': True}

In [325]:
lst=[
    {'nombre': 'Pepe', 'edad': 34, 'trabaja': True},
    {'nombre': 'Ana', 'edad': 4, 'trabaja': False},
    {'nombre': 'Juan', 'edad': 42, 'trabaja': True}
]

In [330]:
for e in lst:
    
    if e['trabaja']:
        
        print(e['nombre'])

Pepe
Juan

In [332]:
dictio.keys()

dict_keys(['key', 3, 'bool'])

In [333]:
dictio.values()

dict_values([10, 643, True])

In [334]:
dictio.items()

dict_items([('key', 10), (3, 643), ('bool', True)])

In [335]:
for e in dictio.items():
    print(e)

('key', 10)
(3, 643)
('bool', True)

In [336]:
dictio.update({'nombre': 'Pepelu'})

In [337]:
dictio

{'key': 10, 3: 643, 'bool': True, 'nombre': 'Pepelu'}

In [339]:
dictio['nombre']='Ana'

dictio

{'key': 10, 3: 643, 'bool': True, 'nombre': 'Ana'}

In [340]:
dictio.pop('key')

10

In [341]:
dictio

{3: 643, 'bool': True, 'nombre': 'Ana'}

In [343]:
dictio.get('key', 0)

0

In [344]:
dictio['key']=None

dictio

{3: 643, 'bool': True, 'nombre': 'Ana', 'key': None}

In [347]:
print(dictio['key'])

None

In [353]:
lst1=['a', 'b', 'c']

lst2=[1, 2, 2, 4]

In [354]:
zip(lst1, lst2)

In [355]:
list(zip(lst1, lst2))

[('a', 1), ('b', 2), ('c', 2)]

In [356]:
dict(zip(lst1, lst2))

{'a': 1, 'b': 2, 'c': 2}

In [357]:
dictio={k:v for k,v in zip(lst1, lst2)}

dictio

{'a': 1, 'b': 2, 'c': 2}

## Más

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [358]:
a = [1, 2]
b = [1, 2]

In [359]:
a == b

True

In [362]:
a is b

False

`while 1` vs `while True`

[Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial [Python Booleans](https://realpython.com/python-boolean/)

Charla de [Richard Feynman](https://www.youtube.com/watch?v=EKWGGDXe5MA) sobre computación