## Importamos librerias

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Cargamos los datos

    En este caso vamos a realizar un análisis de la jornada 37 para poder detectar que fichajes serían los más optimos de cara a la jornada del campeonato para tratar de obtener la mejor puntuación posible.

In [3]:
journey = pd.read_csv('data/pruebas/comunio_J37.csv')
clas = pd.read_excel('data/classification_J_37.xlsx')

In [4]:
journey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team_id              584 non-null    int64
 1   Team                 584 non-null    object
 2   Player               584 non-null    object
 3   Position             584 non-null    object
 4   Matchs               584 non-null    int64
 5   On_start_%           584 non-null    int64
 6   Goals                584 non-null    int64
 7   Assists              584 non-null    int64
 8   Total_Points         584 non-null    int64
 9   Points_Average       584 non-null    float64
 10  Last_5_games_points  584 non-null    object
 11  J_33                 584 non-null    int64
 12  J_34                 584 non-null    int64
 13  J_35                 584 non-null    int64
 14  J_36                 584 non-null    int64
 15  J_37                 584 non-null    int64
 16  Avg_last_5_games     584 non-null    float64
 17  Value                584 non-null    int64
dtypes: float64(2), int64(12), object(4)
memory usage: 82.2+ KB

In [5]:
journey.head()

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,Last_5_games_points,J_33,J_34,J_35,J_36,J_37,Avg_last_5_games,Value
0,1,Athletic Club,Unai Simón,PT,33,89,0,0,152,4.6,"['-', '8', '6', '2', '6']",0,8,6,2,6,4.4,3100000
1,1,Athletic Club,Agirrezabala,PT,34,11,4,10,20,5.0,"['4', '-', '-', '-', '-']",4,0,0,0,0,0.8,340000
2,1,Athletic Club,Ezkieta,PT,37,0,8,5,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,180000
3,1,Athletic Club,Iñigo Martínez,DF,33,68,0,0,139,5.3,"['-', '5', '7', '4', '6']",0,5,7,4,6,4.4,5950000
4,1,Athletic Club,Daniel Vivian,DF,31,57,0,0,118,5.1,"['-', '4', '-', '6', '-']",0,4,0,6,0,2.0,2810000

*Con los datos cargados vamos a realizar las transformaciones y filtros necesarios para obtener la tabla que necesitamos para el dashboard*

In [6]:
journey = journey.drop('Last_5_games_points', axis=1)

In [7]:
clas = clas.drop('Unnamed: 0', axis=1)

In [8]:
gk = journey.loc[journey['Position']=='PT'].sort_values('Total_Points', ascending=False)[:5]
df = journey.loc[journey['Position']=='DF'].sort_values('Total_Points', ascending=False)[:10]
md = journey.loc[journey['Position']=='MD'].sort_values('Total_Points', ascending=False)[:10]
dl = journey.loc[journey['Position']=='DL'].sort_values('Total_Points', ascending=False)[:10]

In [9]:
pos = [gk, df, md, dl]

In [10]:
top_players = pd.DataFrame()

for p in pos:
    top_players = top_players.append(pd.DataFrame(p))

top_players

C:\Users\botic\AppData\Local\Temp\ipykernel_9788\3626699127.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top_players = top_players.append(pd.DataFrame(p))
C:\Users\botic\AppData\Local\Temp\ipykernel_9788\3626699127.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top_players = top_players.append(pd.DataFrame(p))
C:\Users\botic\AppData\Local\Temp\ipykernel_9788\3626699127.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top_players = top_players.append(pd.DataFrame(p))
C:\Users\botic\AppData\Local\Temp\ipykernel_9788\3626699127.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  top_players = top_players.append(pd.DataFrame(p))

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,J_33,J_34,J_35,J_36,J_37,Avg_last_5_games,Value
471,17,Cádiz CF,Jeremías Ledesma,PT,37,100,0,0,184,5.0,7,6,8,2,9,6.4,3030000
200,8,Real Madrid CF,Courtois,PT,35,95,0,0,182,5.2,2,12,0,6,0,4.0,5760000
349,13,Real Sociedad de Fútbol,Alex Remiro,PT,36,92,1,1,181,5.3,7,8,4,6,3,5.6,4230000
526,19,RC Celta de Vigo,Matías Dituro,PT,37,100,0,0,178,4.8,5,7,6,-1,6,4.6,3940000
49,3,CA Osasuna,Sergio Herrera,PT,35,95,0,0,173,4.9,1,3,2,0,6,2.4,3760000
109,5,FC Barcelona,Jordi Alba,DF,29,78,2,10,199,6.9,7,9,17,5,0,7.6,12080000
388,14,Villarreal CF,Pau Torres,DF,32,86,2,9,188,5.9,4,2,4,17,1,5.6,7030000
351,13,Real Sociedad de Fútbol,Le Normand,DF,33,97,3,2,187,5.2,9,6,6,0,2,4.6,5100000
202,8,Real Madrid CF,Éder Militão,DF,30,89,2,3,186,5.6,6,0,3,0,5,2.8,6450000
51,3,CA Osasuna,David García Zub.,DF,36,92,2,3,184,5.4,0,6,5,4,0,3.0,5920000
557,20,Sevilla FC,Diego Carlos,DF,35,89,0,1,184,5.6,8,4,3,7,7,5.8,7980000
235,9,Rayo Vallecano de Madrid,Catena,DF,34,95,1,0,173,4.9,8,5,7,0,2,4.4,3750000
558,20,Sevilla FC,Kounde,DF,34,81,4,6,168,5.4,0,9,13,6,6,6.8,7640000
110,5,FC Barcelona,Ronald Araujo,DF,31,65,3,3,166,5.7,8,5,9,2,0,4.8,8660000
79,4,RCD Espanyol de Barcelona,Leandro Cabrera,DF,34,97,17,3,158,4.4,0,2,2,2,2,1.6,4890000
13,1,Athletic Club,Muniain,MD,27,89,6,4,240,7.1,6,6,7,6,10,7.0,10420000
398,14,Villarreal CF,Parejo,MD,17,84,9,3,233,7.3,6,5,8,11,10,8.0,13340000
119,5,FC Barcelona,Sergio Busquets,MD,27,95,2,1,219,6.3,6,12,10,0,6,6.8,10250000
332,2,Real Betis Balompié,Fekir,MD,18,86,0,0,218,6.6,10,5,8,4,6,6.6,13430000
213,8,Real Madrid CF,Casemiro,MD,23,81,1,3,207,6.7,0,5,5,0,7,3.4,12310000
427,15,Valencia CF,Carlos Soler,MD,28,73,1,0,205,6.6,0,6,7,9,1,4.6,11800000
333,2,Real Betis Balompié,Canales,MD,27,86,0,1,199,6.0,15,8,-1,16,4,8.4,13900000
565,20,Sevilla FC,Rakitic,MD,18,70,1,2,194,5.7,9,7,4,3,5,5.6,8290000
242,9,Rayo Vallecano de Madrid,Álvaro García,MD,21,89,0,0,193,5.5,11,6,2,5,8,6.4,6780000
214,8,Real Madrid CF,Kroos,MD,31,65,4,4,191,7.1,10,2,4,2,10,5.6,11570000
222,8,Real Madrid CF,Benzema,DL,10,81,0,0,328,10.6,17,10,0,16,0,8.6,19530000
548,19,RC Celta de Vigo,Iago Aspas,DL,1,95,0,0,283,7.9,7,10,19,11,9,11.2,15290000
223,8,Real Madrid CF,Vinícius Júnior,DL,12,78,1,0,266,7.8,3,5,5,24,0,7.4,18310000
466,16,Deportivo Alavés,Joselu,DL,3,95,0,0,255,6.9,4,9,4,10,10,7.4,13390000
103,4,RCD Espanyol de Barcelona,Raúl de Tomás,DL,1,89,0,0,219,6.4,9,4,4,10,8,7.0,14850000
437,15,Valencia CF,Guedes,DL,6,81,1,0,216,6.2,11,3,2,1,2,3.8,12970000
163,6,Getafe CF,Enes Ünal,DL,9,86,0,0,212,5.9,8,4,2,3,7,4.8,8970000
345,2,Real Betis Balompié,Juanmi Jiménez,DL,1,68,1,0,203,6.3,8,2,1,5,16,6.4,11930000
127,5,FC Barcelona,Depay,DL,12,54,2,0,200,7.4,5,14,4,12,4,7.8,14550000
286,10,Levante UD,Morales,DL,1,81,0,0,183,5.4,1,10,3,4,14,6.4,8740000

## Ahora vamos ha realizar un poco ingeniería de datos para obtener algunas columnas que nos puedas ayudar al estudio

*En primer lugar vamos a añadir una columna para obtener el precio por puntos totales de cada jugador*

In [11]:
top_players['Price_per_Total_Points'] = (top_players['Value']/top_players.Total_Points).apply(lambda x: '{0:.2f}'.format(x))

*Ahora hacemos lo mismo pero únicamente calculando el valor por punto obtenido en las últimas cinco jornadas*

In [12]:
top_players['Price_per_Points_Last_5_J'] = (top_players['Value']/ (top_players['J_33']
                                                    +top_players['J_34']
                                                    + top_players['J_35']
                                                    +top_players['J_36']
                                                    +top_players['J_37'])).apply(lambda x: '{0:.2f}'.format(x))

In [13]:
top_players.head()

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,J_33,J_34,J_35,J_36,J_37,Avg_last_5_games,Value,Price_per_Total_Points,Price_per_Points_Last_5_J
471,17,Cádiz CF,Jeremías Ledesma,PT,37,100,0,0,184,5.0,7,6,8,2,9,6.4,3030000,16467.39,94687.50
200,8,Real Madrid CF,Courtois,PT,35,95,0,0,182,5.2,2,12,0,6,0,4.0,5760000,31648.35,288000.00
349,13,Real Sociedad de Fútbol,Alex Remiro,PT,36,92,1,1,181,5.3,7,8,4,6,3,5.6,4230000,23370.17,151071.43
526,19,RC Celta de Vigo,Matías Dituro,PT,37,100,0,0,178,4.8,5,7,6,-1,6,4.6,3940000,22134.83,171304.35
49,3,CA Osasuna,Sergio Herrera,PT,35,95,0,0,173,4.9,1,3,2,0,6,2.4,3760000,21734.10,313333.33

### Una vez que tenemos la tabla con los datos la exportamos a excel para poder cargarla en Tableau

In [14]:
with pd.ExcelWriter('data/comunio_tableau_J37.xlsx') as writer:  
    top_players.to_excel(writer, sheet_name='top_players')
    clas.to_excel(writer, sheet_name='classification')